<%#
  Toolbar per quaderno operazioni
  Riceve: total_cols (numero colonne della griglia)
%>

<%
  toolbar_buttons = [
    { action: "clearGrid", color: "bg-gray-400/40 hover:bg-gray-400/70", icon: "M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16", title: "Cancella" },
    { action: "showNumbers", color: "bg-blue-400/40 hover:bg-blue-400/70", icon: "M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z", title: "Mostra Numeri" },
    { action: "showResult", color: "bg-green-400/40 hover:bg-green-400/70", icon: "M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z", title: "Mostra Risultato" },
    { action: "verifyAnswers", color: "bg-purple-400/40 hover:bg-purple-400/70", icon: "M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4", title: "Verifica" }
  ]
%>

<% total_cols.times do |i| %>
  <div class="<%= i < total_cols - 1 ? 'border-r border-gray-300 dark:border-gray-600' : '' %> border-t border-gray-300 dark:border-gray-600" style="height: 2.5em;">
    <% if i < toolbar_buttons.length %>
      <% btn = toolbar_buttons[i] %>
      <div class="w-full h-full flex items-center justify-center">
        <button type="button"
                data-action="click->quaderno#<%= btn[:action] %>"
                class="w-9 h-9 rounded-full flex items-center justify-center <%= btn[:color] %> text-white/80 hover:text-white transition-all print-hidden"
                title="<%= btn[:title] %>">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="<%= btn[:icon] %>" />
          </svg>
        </button>
      </div>
    <% end %>
  </div>
<% end %>
