<div class="nav__header flex flex-col items-center justify-center gap-2 pb-2">
  <div class="nav__header-title max-width">
    <div class="overflow-ellipsis">
      <strong><%= Current.account&.name %></strong>
    </div>
  </div>
  <%= jump_field_tag %>
</div>

<div class="nav__scroll-container flex flex-col gap-0.5 -mx-5 overflow-auto pb-0.5 px-5">
  <%# Hotkeys %>
  <div class="nav__hotkeys flex flex-wrap gap-2 w-full justify-center my-4 mx-auto p-0 list-none">
    <%= nav_hotkey_link "Home", root_path, 1, "home" %>
    <%= nav_hotkey_link "Strumenti", strumenti_abaco_path, 2, "tools" %>
    <% if Current.user&.teacher? || Current.user&.owner? %>
      <%= nav_hotkey_link "Dashboard", dashboard_esercizi_path, 3, "dashboard" %>
    <% end %>
  </div>

  <%# Sezioni %>
  <%= render "shared/nav_menu/libri" %>
  <%= render "shared/nav_menu/strumenti" %>
  <% if Current.user %>
    <%= render "shared/nav_menu/people", users: Current.account.users %>
    <%= render "shared/nav_menu/settings" %>
    <%= render "shared/nav_menu/accounts", accounts: Current.identity.accounts %>
  <% end %>

  <div class="nav__blank-slate text-sm my-8 mx-auto text-center text-gray-500">
    Nessun risultato
  </div>
</div>

<footer class="nav__footer bg-white dark:bg-gray-800 border-t border-gray-200 dark:border-gray-700 text-xs leading-relaxed -mt-0.5 p-4 text-center z-10 text-gray-500 dark:text-gray-400">
  <strong>Esercizi</strong> - Giunti Scuola
</footer>
