<%= collapsible_nav_section "Libri" do %>
  <% Corso.includes(volumi: { discipline: :pagine }).order(:nome).each do |corso| %>
    <%= collapsible_nav_section corso.nome, nested: true do %>
      <% corso.volumi.order(:classe, :nome).each do |volume| %>
        <%= collapsible_nav_section "#{volume.classe} - #{volume.nome}", nested: true do %>
          <% volume.discipline.order(:nome).each do |disciplina| %>
            <%= collapsible_nav_section disciplina.nome, nested: true do %>
              <% disciplina.pagine.order(:posizione, :numero).limit(20).each do |pagina| %>
                <%= nav_menu_pagina_item(pagina) %>
              <% end %>
              <% if disciplina.pagine.count > 20 %>
                <li class="popup__item text-sm text-gray-500 dark:text-gray-400 px-2 py-1">
                  ... e altre <%= disciplina.pagine.count - 20 %> pagine
                </li>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
