<%= collapsible_nav_section "Impostazioni" do %>
  <%= filter_place_menu_item account_settings_path, "Impostazioni account", "settings" %>
  <%= filter_place_menu_item user_path(Current.user), "Il mio profilo", "person" %>
  <% if Current.user&.owner? %>
    <%= filter_place_menu_item account_shares_path, "Gestisci accessi", "share" %>
  <% end %>
  <%#= filter_place_menu_item notifications_path, "All notifications", "bell" %>
  <%#= filter_place_menu_item notifications_settings_path, "Notification Settings", "settings" %>

  <li class="popup__item bg-transparent rounded w-full hover:bg-gray-100 dark:hover:bg-gray-700 aria-selected:bg-blue-100 dark:aria-selected:bg-blue-900/50" data-filter-target="item" data-navigable-list-target="item">
    <%= button_to session_url(script_name: nil), method: :delete, class: "popup__btn btn rounded border-none bg-transparent w-full font-medium py-2 px-1 text-left no-underline flex items-center gap-2 cursor-pointer", data: { turbo: false } do %>
      <%= icon_tag "logout", class: "popup__icon w-6 flex items-center justify-center shrink-0 ml-1" %>
      <span class="overflow-ellipsis">Esci</span>
    <% end %>
  </li>

<% end %>
