<!-- FRAZIONI Section -->
<div class="mb-4 lg:mb-8">
  <div class="bg-green-600 text-white rounded-full px-3 py-1 lg:px-6 lg:py-3 inline-block mb-3 lg:mb-4">
    <h2 class="text-lg lg:text-2xl font-bold">FRAZIONI</h2>
  </div>

  <div class="ml-4 lg:ml-8 space-y-1 text-xs lg:text-sm">
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Le Frazioni", "bus3_mat_p074", class: "flex-1 ml-2 font-medium" %>
      <span class="text-gray-700">74</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Leggere e scrivere le frazioni", "bus3_mat_p075", class: "flex-1 ml-2 font-medium" %>
      <span class="text-gray-700">75</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Frazioni - L'unità frazionaria", "bus3_mat_p076", class: "flex-1 ml-2 font-medium" %>
      <span class="text-gray-700">76</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Le Frazioni Equiestese", "bus3_mat_p077", class: "flex-1 ml-2 font-medium" %>
      <span class="text-gray-700">77</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Dall'Unità Frazionaria all'Intero", "bus3_mat_p078", class: "flex-1 ml-2 font-medium" %>
      <span class="text-gray-700">78</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "LE FRAZIONI EQUINUMEROSE", "bus3_mat_p079", class: "flex-1 ml-2 font-medium" %>
      <span class="text-gray-700">79</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "LE FRAZIONI DECIMALI", "bus3_mat_p080", class: "flex-1 ml-2 font-medium" %>
      <span class="text-gray-700">80</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "I DECIMI", "bus3_mat_p081", class: "flex-1 ml-2 font-medium" %>
      <span class="text-gray-700">81</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "I CENTESIMI", "bus3_mat_p082", class: "flex-1 ml-2 font-medium" %>
      <span class="text-gray-700">82</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "I MILLESIMI", "bus3_mat_p083", class: "flex-1 ml-2 font-medium" %>
      <span class="text-gray-700">83</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "I NUMERI DECIMALI", "bus3_mat_p084", class: "flex-1 ml-2 font-medium" %>
      <span class="text-gray-700">84</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "I NUMERI DECIMALI", "bus3_mat_p085", class: "flex-1 ml-2 font-medium" %>
      <span class="text-gray-700">85</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 86", "bus3_mat_p086", class: "flex-1 ml-2" %>
      <span class="text-gray-700">86</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 87", "bus3_mat_p087", class: "flex-1 ml-2" %>
      <span class="text-gray-700">87</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 88", "bus3_mat_p088", class: "flex-1 ml-2" %>
      <span class="text-gray-700">88</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 89", "bus3_mat_p089", class: "flex-1 ml-2" %>
      <span class="text-gray-700">89</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 90", "bus3_mat_p090", class: "flex-1 ml-2" %>
      <span class="text-gray-700">90</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 91", "bus3_mat_p091", class: "flex-1 ml-2" %>
      <span class="text-gray-700">91</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 92", "bus3_mat_p092", class: "flex-1 ml-2" %>
      <span class="text-gray-700">92</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 93", "bus3_mat_p093", class: "flex-1 ml-2" %>
      <span class="text-gray-700">93</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 94", "bus3_mat_p094", class: "flex-1 ml-2" %>
      <span class="text-gray-700">94</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 95", "bus3_mat_p095", class: "flex-1 ml-2" %>
      <span class="text-gray-700">95</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 96", "bus3_mat_p096", class: "flex-1 ml-2" %>
      <span class="text-gray-700">96</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 97", "bus3_mat_p097", class: "flex-1 ml-2" %>
      <span class="text-gray-700">97</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 98", "bus3_mat_p098", class: "flex-1 ml-2" %>
      <span class="text-gray-700">98</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 99", "bus3_mat_p099", class: "flex-1 ml-2" %>
      <span class="text-gray-700">99</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 100", "bus3_mat_p100", class: "flex-1 ml-2" %>
      <span class="text-gray-700">100</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 101", "bus3_mat_p101", class: "flex-1 ml-2" %>
      <span class="text-gray-700">101</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 102", "bus3_mat_p102", class: "flex-1 ml-2" %>
      <span class="text-gray-700">102</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 103", "bus3_mat_p103", class: "flex-1 ml-2" %>
      <span class="text-gray-700">103</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 104", "bus3_mat_p104", class: "flex-1 ml-2" %>
      <span class="text-gray-700">104</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 105", "bus3_mat_p105", class: "flex-1 ml-2" %>
      <span class="text-gray-700">105</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 106", "bus3_mat_p106", class: "flex-1 ml-2" %>
      <span class="text-gray-700">106</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 107", "bus3_mat_p107", class: "flex-1 ml-2" %>
      <span class="text-gray-700">107</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 108", "bus3_mat_p108", class: "flex-1 ml-2" %>
      <span class="text-gray-700">108</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 109", "bus3_mat_p109", class: "flex-1 ml-2" %>
      <span class="text-gray-700">109</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 110", "bus3_mat_p110", class: "flex-1 ml-2" %>
      <span class="text-gray-700">110</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 111", "bus3_mat_p111", class: "flex-1 ml-2" %>
      <span class="text-gray-700">111</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 112", "bus3_mat_p112", class: "flex-1 ml-2" %>
      <span class="text-gray-700">112</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 113", "bus3_mat_p113", class: "flex-1 ml-2" %>
      <span class="text-gray-700">113</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 114", "bus3_mat_p114", class: "flex-1 ml-2" %>
      <span class="text-gray-700">114</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 115", "bus3_mat_p115", class: "flex-1 ml-2" %>
      <span class="text-gray-700">115</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 116", "bus3_mat_p116", class: "flex-1 ml-2" %>
      <span class="text-gray-700">116</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 117", "bus3_mat_p117", class: "flex-1 ml-2" %>
      <span class="text-gray-700">117</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 118", "bus3_mat_p118", class: "flex-1 ml-2" %>
      <span class="text-gray-700">118</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 119", "bus3_mat_p119", class: "flex-1 ml-2" %>
      <span class="text-gray-700">119</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 120", "bus3_mat_p120", class: "flex-1 ml-2" %>
      <span class="text-gray-700">120</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 121", "bus3_mat_p121", class: "flex-1 ml-2" %>
      <span class="text-gray-700">121</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 122", "bus3_mat_p122", class: "flex-1 ml-2" %>
      <span class="text-gray-700">122</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 123", "bus3_mat_p123", class: "flex-1 ml-2" %>
      <span class="text-gray-700">123</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 124", "bus3_mat_p124", class: "flex-1 ml-2" %>
      <span class="text-gray-700">124</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 125", "bus3_mat_p125", class: "flex-1 ml-2" %>
      <span class="text-gray-700">125</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 126", "bus3_mat_p126", class: "flex-1 ml-2" %>
      <span class="text-gray-700">126</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 127", "bus3_mat_p127", class: "flex-1 ml-2" %>
      <span class="text-gray-700">127</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 128", "bus3_mat_p128", class: "flex-1 ml-2" %>
      <span class="text-gray-700">128</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 129", "bus3_mat_p129", class: "flex-1 ml-2" %>
      <span class="text-gray-700">129</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "FACCIAMO I CONTI!", "bus3_mat_p130", class: "flex-1 ml-2 font-medium" %>
      <span class="text-gray-700">130</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "IL SALVADANAIO", "bus3_mat_p131", class: "flex-1 ml-2 font-medium" %>
      <span class="text-gray-700">131</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "L'ECONOMIA CIRCOLARE", "bus3_mat_p132", class: "flex-1 ml-2 font-medium" %>
      <span class="text-gray-700">132</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "PERCORSI IN LABORATORIO", "bus3_mat_p133", class: "flex-1 ml-2 font-medium" %>
      <span class="text-gray-700">133</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "ADDIZIONE", "bus3_mat_p134", class: "flex-1 ml-2 font-medium" %>
      <span class="text-gray-700">134</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "SOTTRAZIONE", "bus3_mat_p135", class: "flex-1 ml-2 font-medium" %>
      <span class="text-gray-700">135</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "MOLTIPLICAZIONE", "bus3_mat_p136", class: "flex-1 ml-2 font-medium" %>
      <span class="text-gray-700">136</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "DIVISIONE", "bus3_mat_p137", class: "flex-1 ml-2 font-medium" %>
      <span class="text-gray-700">137</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "FRAZIONI", "bus3_mat_p138", class: "flex-1 ml-2 font-medium" %>
      <span class="text-gray-700">138</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "SOLIDO", "bus3_mat_p139", class: "flex-1 ml-2 font-medium" %>
      <span class="text-gray-700">139</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "NUMERI FINO A 999", "bus3_mat_p140", class: "flex-1 ml-2 font-medium" %>
      <span class="text-gray-700">140</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "MILLE E OLTRE", "bus3_mat_p141", class: "flex-1 ml-2 font-medium" %>
      <span class="text-gray-700">141</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "CONFRONTO E ORDINO", "bus3_mat_p142", class: "flex-1 ml-2 font-medium" %>
      <span class="text-gray-700">142</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "L'ADDIZIONE", "bus3_mat_p143", class: "flex-1 ml-2 font-medium" %>
      <span class="text-gray-700">143</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Proprietà dell'Addizione", "bus3_mat_p144", class: "flex-1 ml-2 font-medium" %>
      <span class="text-gray-700">144</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 145", "bus3_mat_p145", class: "flex-1 ml-2" %>
      <span class="text-gray-700">145</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 146", "bus3_mat_p146", class: "flex-1 ml-2" %>
      <span class="text-gray-700">146</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 147", "bus3_mat_p147", class: "flex-1 ml-2" %>
      <span class="text-gray-700">147</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 148", "bus3_mat_p148", class: "flex-1 ml-2" %>
      <span class="text-gray-700">148</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 149", "bus3_mat_p149", class: "flex-1 ml-2" %>
      <span class="text-gray-700">149</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 150", "bus3_mat_p150", class: "flex-1 ml-2" %>
      <span class="text-gray-700">150</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 151", "bus3_mat_p151", class: "flex-1 ml-2" %>
      <span class="text-gray-700">151</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 152", "bus3_mat_p152", class: "flex-1 ml-2" %>
      <span class="text-gray-700">152</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 153", "bus3_mat_p153", class: "flex-1 ml-2" %>
      <span class="text-gray-700">153</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 154", "bus3_mat_p154", class: "flex-1 ml-2" %>
      <span class="text-gray-700">154</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 155", "bus3_mat_p155", class: "flex-1 ml-2" %>
      <span class="text-gray-700">155</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 156", "bus3_mat_p156", class: "flex-1 ml-2" %>
      <span class="text-gray-700">156</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 157", "bus3_mat_p157", class: "flex-1 ml-2" %>
      <span class="text-gray-700">157</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 158", "bus3_mat_p158", class: "flex-1 ml-2" %>
      <span class="text-gray-700">158</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 159", "bus3_mat_p159", class: "flex-1 ml-2" %>
      <span class="text-gray-700">159</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 160", "bus3_mat_p160", class: "flex-1 ml-2" %>
      <span class="text-gray-700">160</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 161", "bus3_mat_p161", class: "flex-1 ml-2" %>
      <span class="text-gray-700">161</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 162", "bus3_mat_p162", class: "flex-1 ml-2" %>
      <span class="text-gray-700">162</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 163", "bus3_mat_p163", class: "flex-1 ml-2" %>
      <span class="text-gray-700">163</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 164", "bus3_mat_p164", class: "flex-1 ml-2" %>
      <span class="text-gray-700">164</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 165", "bus3_mat_p165", class: "flex-1 ml-2" %>
      <span class="text-gray-700">165</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 166", "bus3_mat_p166", class: "flex-1 ml-2" %>
      <span class="text-gray-700">166</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 167", "bus3_mat_p167", class: "flex-1 ml-2" %>
      <span class="text-gray-700">167</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 168", "bus3_mat_p168", class: "flex-1 ml-2" %>
      <span class="text-gray-700">168</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 169", "bus3_mat_p169", class: "flex-1 ml-2" %>
      <span class="text-gray-700">169</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 170", "bus3_mat_p170", class: "flex-1 ml-2" %>
      <span class="text-gray-700">170</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 171", "bus3_mat_p171", class: "flex-1 ml-2" %>
      <span class="text-gray-700">171</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 172", "bus3_mat_p172", class: "flex-1 ml-2" %>
      <span class="text-gray-700">172</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 173", "bus3_mat_p173", class: "flex-1 ml-2" %>
      <span class="text-gray-700">173</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 174", "bus3_mat_p174", class: "flex-1 ml-2" %>
      <span class="text-gray-700">174</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 175", "bus3_mat_p175", class: "flex-1 ml-2" %>
      <span class="text-gray-700">175</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 176", "bus3_mat_p176", class: "flex-1 ml-2" %>
      <span class="text-gray-700">176</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 177", "bus3_mat_p177", class: "flex-1 ml-2" %>
      <span class="text-gray-700">177</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 178", "bus3_mat_p178", class: "flex-1 ml-2" %>
      <span class="text-gray-700">178</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 179", "bus3_mat_p179", class: "flex-1 ml-2" %>
      <span class="text-gray-700">179</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 180", "bus3_mat_p180", class: "flex-1 ml-2" %>
      <span class="text-gray-700">180</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 181", "bus3_mat_p181", class: "flex-1 ml-2" %>
      <span class="text-gray-700">181</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 182", "bus3_mat_p182", class: "flex-1 ml-2" %>
      <span class="text-gray-700">182</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 183", "bus3_mat_p183", class: "flex-1 ml-2" %>
      <span class="text-gray-700">183</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 184", "bus3_mat_p184", class: "flex-1 ml-2" %>
      <span class="text-gray-700">184</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 185", "bus3_mat_p185", class: "flex-1 ml-2" %>
      <span class="text-gray-700">185</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 186", "bus3_mat_p186", class: "flex-1 ml-2" %>
      <span class="text-gray-700">186</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 187", "bus3_mat_p187", class: "flex-1 ml-2" %>
      <span class="text-gray-700">187</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 188", "bus3_mat_p188", class: "flex-1 ml-2" %>
      <span class="text-gray-700">188</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 189", "bus3_mat_p189", class: "flex-1 ml-2" %>
      <span class="text-gray-700">189</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 190", "bus3_mat_p190", class: "flex-1 ml-2" %>
      <span class="text-gray-700">190</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 191", "bus3_mat_p191", class: "flex-1 ml-2" %>
      <span class="text-gray-700">191</span>
    </div>
    <div class="flex justify-between items-center hover:bg-gray-50 px-2 py-1 rounded">
      <span class="text-orange-500">●</span>
      <%= link_to "Pagina 192", "bus3_mat_p192", class: "flex-1 ml-2" %>
      <span class="text-gray-700">192</span>
    </div>
  </div>
</div>

