<div class="max-w-6xl mx-auto bg-white p-3 md:p-6"
     data-controller="text-toggle font-controls"
     data-text-toggle-target="content"
     data-font-controls-target="content">

  <%= render 'shared/page_header', pagina: @pagina %>

  <div class="space-y-6">
    <!-- Indice a 2 colonne -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-1">
      <!-- Colonna sinistra -->
      <div class="space-y-1">
        <%= link_to "nvi5_mat_p176", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Milioni e miliardi</span>
          </div>
          <span class="text-gray-600">176</span>
        <% end %>
        <%= link_to "nvi5_mat_p177", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Scritture diverse dei numeri</span>
          </div>
          <span class="text-gray-600">177</span>
        <% end %>
        <%= link_to "nvi5_mat_p178", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Confrontare e ordinare numeri grandi</span>
          </div>
          <span class="text-gray-600">178</span>
        <% end %>
        <%= link_to "nvi5_mat_p179", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Numeri decimali (1) e (2)</span>
          </div>
          <span class="text-gray-600">179-180</span>
        <% end %>
        <%= link_to "nvi5_mat_p181", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Le potenze</span>
          </div>
          <span class="text-gray-600">181</span>
        <% end %>
        <%= link_to "nvi5_mat_p182", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>I numeri interi relativi</span>
          </div>
          <span class="text-gray-600">182</span>
        <% end %>
        <%= link_to "nvi5_mat_p183", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded bg-custom-blue-light" do %>
          <div class="flex items-center gap-2">
            <span class="bg-custom-blue-light0 text-white px-2 py-0.5 rounded font-bold">RIPASSO</span>
            <span>I numeri fino ai miliardi, le potenze, i numeri interi relativi</span>
          </div>
          <span class="text-gray-600">183</span>
        <% end %>
        <%= link_to "nvi5_mat_p184", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>L'addizione</span>
          </div>
          <span class="text-gray-600">184</span>
        <% end %>
        <%= link_to "nvi5_mat_p185", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Le proprietà dell'addizione</span>
          </div>
          <span class="text-gray-600">185</span>
        <% end %>
        <%= link_to "nvi5_mat_p186", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>La sottrazione</span>
          </div>
          <span class="text-gray-600">186</span>
        <% end %>
        <%= link_to "nvi5_mat_p187", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>La proprietà della sottrazione</span>
          </div>
          <span class="text-gray-600">187</span>
        <% end %>
        <%= link_to "nvi5_mat_p188", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Moltiplicazioni e divisioni</span>
          </div>
          <span class="text-gray-600">188</span>
        <% end %>
        <%= link_to "nvi5_mat_p189", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Moltiplicazioni con i numeri decimali</span>
          </div>
          <span class="text-gray-600">189</span>
        <% end %>
        <%= link_to "nvi5_mat_p190", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Le proprietà della moltiplicazione</span>
          </div>
          <span class="text-gray-600">190</span>
        <% end %>
        <%= link_to "nvi5_mat_p191", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Divisioni con i numeri decimali</span>
          </div>
          <span class="text-gray-600">191</span>
        <% end %>
        <%= link_to "nvi5_mat_p192", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>La proprietà della divisione</span>
          </div>
          <span class="text-gray-600">192</span>
        <% end %>
        <%= link_to "nvi5_mat_p193", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Moltiplicare e dividere per 10, 100, 1000</span>
          </div>
          <span class="text-gray-600">193</span>
        <% end %>
        <%= link_to "nvi5_mat_p194", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Problemi con le 4 operazioni (1) e (2)</span>
          </div>
          <span class="text-gray-600">194-195</span>
        <% end %>
        <%= link_to "nvi5_mat_p196", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Espressioni aritmetiche</span>
          </div>
          <span class="text-gray-600">196</span>
        <% end %>
        <%= link_to "nvi5_mat_p197", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Multipli e divisori</span>
          </div>
          <span class="text-gray-600">197</span>
        <% end %>
        <%= link_to "nvi5_mat_p198", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Criteri di divisibilità</span>
          </div>
          <span class="text-gray-600">198</span>
        <% end %>
        <%= link_to "nvi5_mat_p199", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Numeri primi</span>
          </div>
          <span class="text-gray-600">199</span>
        <% end %>
        <%= link_to "nvi5_mat_p200", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded bg-custom-blue-light" do %>
          <div class="flex items-center gap-2">
            <span class="bg-custom-blue-light0 text-white px-2 py-0.5 rounded font-bold">RIPASSO</span>
            <span>Le operazioni e le espressioni</span>
          </div>
          <span class="text-gray-600">200</span>
        <% end %>
        <%= link_to "nvi5_mat_p201", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded bg-custom-blue-light" do %>
          <div class="flex items-center gap-2">
            <span class="bg-custom-blue-light0 text-white px-2 py-0.5 rounded font-bold">RIPASSO</span>
            <span>I criteri di divisibilità, i multipli, i divisori e i numeri primi</span>
          </div>
          <span class="text-gray-600">201</span>
        <% end %>
        <%= link_to "nvi5_mat_p202", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Le frazioni</span>
          </div>
          <span class="text-gray-600">202</span>
        <% end %>
        <%= link_to "nvi5_mat_p203", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Frazioni complementari</span>
          </div>
          <span class="text-gray-600">203</span>
        <% end %>
        <%= link_to "nvi5_mat_p204", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Frazioni equivalenti</span>
          </div>
          <span class="text-gray-600">204</span>
        <% end %>
        <%= link_to "nvi5_mat_p205", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Confrontare frazioni</span>
          </div>
          <span class="text-gray-600">205</span>
        <% end %>
        <%= link_to "nvi5_mat_p206", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Dall'intero alla frazione, dalla frazione all'intero</span>
          </div>
          <span class="text-gray-600">206</span>
        <% end %>
        <%= link_to "nvi5_mat_p207", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Problemi con le frazioni</span>
          </div>
          <span class="text-gray-600">207</span>
        <% end %>
        <%= link_to "nvi5_mat_p208", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded bg-custom-blue-light" do %>
          <div class="flex items-center gap-2">
            <span class="bg-custom-blue-light0 text-white px-2 py-0.5 rounded font-bold">RIPASSO</span>
            <span>Le frazioni</span>
          </div>
          <span class="text-gray-600">208</span>
        <% end %>
        <%= link_to "nvi5_mat_p209", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Frazioni e numeri decimali</span>
          </div>
          <span class="text-gray-600">209</span>
        <% end %>
        <%= link_to "nvi5_mat_p210", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>La percentuale – Lo sconto</span>
          </div>
          <span class="text-gray-600">210-211</span>
        <% end %>
        <%= link_to "nvi5_mat_p212", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Problemi con i decimali e la percentuale</span>
          </div>
          <span class="text-gray-600">212</span>
        <% end %>
        <%= link_to "nvi5_mat_p213", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded bg-custom-blue-light" do %>
          <div class="flex items-center gap-2">
            <span class="bg-custom-blue-light0 text-white px-2 py-0.5 rounded font-bold">RIPASSO</span>
            <span>Frazioni e numeri decimali</span>
          </div>
          <span class="text-gray-600">213</span>
        <% end %>
        <%= link_to "nvi5_mat_p214", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded bg-custom-blue-light" do %>
          <div class="flex items-center gap-2">
            <span class="bg-custom-blue-light0 text-white px-2 py-0.5 rounded font-bold">RIPASSO</span>
            <span>La percentuale e lo sconto</span>
          </div>
          <span class="text-gray-600">214</span>
        <% end %>
        <%= link_to "nvi5_mat_p215", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>I dati e la domanda</span>
          </div>
          <span class="text-gray-600">215</span>
        <% end %>
        <%= link_to "nvi5_mat_p216", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Il diagramma a striscia e i segmenti</span>
          </div>
          <span class="text-gray-600">216</span>
        <% end %>
        <%= link_to "nvi5_mat_p217", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Dalla struttura del problema all'espressione</span>
          </div>
          <span class="text-gray-600">217</span>
        <% end %>
        <%= link_to "nvi5_mat_p218", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded bg-custom-blue-light" do %>
          <div class="flex items-center gap-2">
            <span class="bg-custom-blue-light0 text-white px-2 py-0.5 rounded font-bold">RIPASSO</span>
            <span>I problemi</span>
          </div>
          <span class="text-gray-600">218</span>
        <% end %>
      </div>

      <!-- Colonna destra -->
      <div class="space-y-1">
        <%= link_to "nvi5_mat_p219", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Misure di lunghezza</span>
          </div>
          <span class="text-gray-600">219</span>
        <% end %>
        <%= link_to "nvi5_mat_p220", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Misure di capacità</span>
          </div>
          <span class="text-gray-600">220</span>
        <% end %>
        <%= link_to "nvi5_mat_p221", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Misure di massa</span>
          </div>
          <span class="text-gray-600">221</span>
        <% end %>
        <%= link_to "nvi5_mat_p222", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Lunghezza, capacità e massa</span>
          </div>
          <span class="text-gray-600">222</span>
        <% end %>
        <%= link_to "nvi5_mat_p223", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>L'euro – Il commercio</span>
          </div>
          <span class="text-gray-600">223-224</span>
        <% end %>
        <%= link_to "nvi5_mat_p225", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Misure di tempo</span>
          </div>
          <span class="text-gray-600">225</span>
        <% end %>
        <%= link_to "nvi5_mat_p226", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Problemi di misura e di compravendita</span>
          </div>
          <span class="text-gray-600">226</span>
        <% end %>
        <%= link_to "nvi5_mat_p227", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded bg-custom-blue-light" do %>
          <div class="flex items-center gap-2">
            <span class="bg-custom-blue-light0 text-white px-2 py-0.5 rounded font-bold">RIPASSO</span>
            <span>Le misure</span>
          </div>
          <span class="text-gray-600">227</span>
        <% end %>
        <%= link_to "nvi5_mat_p228", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Rette, semirette e segmenti</span>
          </div>
          <span class="text-gray-600">228</span>
        <% end %>
        <%= link_to "nvi5_mat_p229", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Angoli</span>
          </div>
          <span class="text-gray-600">229</span>
        <% end %>
        <%= link_to "nvi5_mat_p230", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Simmetria</span>
          </div>
          <span class="text-gray-600">230</span>
        <% end %>
        <%= link_to "nvi5_mat_p231", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Rotazione – Traslazione</span>
          </div>
          <span class="text-gray-600">231-232</span>
        <% end %>
        <%= link_to "nvi5_mat_p233", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Riduzioni e ingrandimenti in scala</span>
          </div>
          <span class="text-gray-600">233</span>
        <% end %>
        <%= link_to "nvi5_mat_p234", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded bg-custom-blue-light" do %>
          <div class="flex items-center gap-2">
            <span class="bg-custom-blue-light0 text-white px-2 py-0.5 rounded font-bold">RIPASSO</span>
            <span>Le isometrie</span>
          </div>
          <span class="text-gray-600">234</span>
        <% end %>
        <%= link_to "nvi5_mat_p235", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Poligoni</span>
          </div>
          <span class="text-gray-600">235</span>
        <% end %>
        <%= link_to "nvi5_mat_p236", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Classificare i poligoni</span>
          </div>
          <span class="text-gray-600">236</span>
        <% end %>
        <%= link_to "nvi5_mat_p237", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Classificare i quadrilateri</span>
          </div>
          <span class="text-gray-600">237</span>
        <% end %>
        <%= link_to "nvi5_mat_p238", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded bg-custom-blue-light" do %>
          <div class="flex items-center gap-2">
            <span class="bg-custom-blue-light0 text-white px-2 py-0.5 rounded font-bold">RIPASSO</span>
            <span>Gli angoli e i poligoni</span>
          </div>
          <span class="text-gray-600">238</span>
        <% end %>
        <%= link_to "nvi5_mat_p239", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>La circonferenza e il cerchio</span>
          </div>
          <span class="text-gray-600">239</span>
        <% end %>
        <%= link_to "nvi5_mat_p240", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Misure di superficie</span>
          </div>
          <span class="text-gray-600">240</span>
        <% end %>
        <%= link_to "nvi5_mat_p241", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Perimetro e area del quadrato</span>
          </div>
          <span class="text-gray-600">241</span>
        <% end %>
        <%= link_to "nvi5_mat_p242", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Perimetro e area del rettangolo</span>
          </div>
          <span class="text-gray-600">242</span>
        <% end %>
        <%= link_to "nvi5_mat_p243", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Perimetro e area del parallelogramma</span>
          </div>
          <span class="text-gray-600">243</span>
        <% end %>
        <%= link_to "nvi5_mat_p244", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Perimetro e area del rombo</span>
          </div>
          <span class="text-gray-600">244</span>
        <% end %>
        <%= link_to "nvi5_mat_p245", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Perimetro e area del triangolo</span>
          </div>
          <span class="text-gray-600">245</span>
        <% end %>
        <%= link_to "nvi5_mat_p246", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Perimetro e area del trapezio</span>
          </div>
          <span class="text-gray-600">246</span>
        <% end %>
        <%= link_to "nvi5_mat_p247", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Perimetro e area dei poligoni regolari</span>
          </div>
          <span class="text-gray-600">247</span>
        <% end %>
        <%= link_to "nvi5_mat_p248", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Misura della circonferenza e area del cerchio</span>
          </div>
          <span class="text-gray-600">248</span>
        <% end %>
        <%= link_to "nvi5_mat_p249", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Problemi con le figure piane (1) e (2)</span>
          </div>
          <span class="text-gray-600">249-250</span>
        <% end %>
        <%= link_to "nvi5_mat_p251", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded bg-custom-blue-light" do %>
          <div class="flex items-center gap-2">
            <span class="bg-custom-blue-light0 text-white px-2 py-0.5 rounded font-bold">RIPASSO</span>
            <span>Il perimetro e l'area</span>
          </div>
          <span class="text-gray-600">251</span>
        <% end %>
        <%= link_to "nvi5_mat_p252", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>I solidi</span>
          </div>
          <span class="text-gray-600">252</span>
        <% end %>
        <%= link_to "nvi5_mat_p253", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Cubo e parallelepipedo</span>
          </div>
          <span class="text-gray-600">253</span>
        <% end %>
        <%= link_to "nvi5_mat_p254", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Prisma e piramide</span>
          </div>
          <span class="text-gray-600">254</span>
        <% end %>
        <%= link_to "nvi5_mat_p255", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Il cilindro</span>
          </div>
          <span class="text-gray-600">255</span>
        <% end %>
        <%= link_to "nvi5_mat_p256", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Misure di volume</span>
          </div>
          <span class="text-gray-600">256</span>
        <% end %>
        <%= link_to "nvi5_mat_p257", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Il volume del parallelepipedo e del cubo</span>
          </div>
          <span class="text-gray-600">257</span>
        <% end %>
        <%= link_to "nvi5_mat_p258", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Classificare</span>
          </div>
          <span class="text-gray-600">258</span>
        <% end %>
        <%= link_to "nvi5_mat_p259", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Rappresentare dati</span>
          </div>
          <span class="text-gray-600">259</span>
        <% end %>
        <%= link_to "nvi5_mat_p260", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Areogrammi e percentuali</span>
          </div>
          <span class="text-gray-600">260</span>
        <% end %>
        <%= link_to "nvi5_mat_p261", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Moda, media e mediana</span>
          </div>
          <span class="text-gray-600">261</span>
        <% end %>
        <%= link_to "nvi5_mat_p262", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded" do %>
          <div class="flex items-center gap-2">
            <span class="text-cyan-500">●</span>
            <span>Probabilità</span>
          </div>
          <span class="text-gray-600">262</span>
        <% end %>
        <%= link_to "nvi5_mat_p263", class: "flex justify-between items-center hover:bg-gray-100 px-2 py-0.5 rounded bg-custom-blue-light" do %>
          <div class="flex items-center gap-2">
            <span class="bg-custom-blue-light0 text-white px-2 py-0.5 rounded font-bold">RIPASSO</span>
            <span>La statistica e la probabilità</span>
          </div>
          <span class="text-gray-600">263</span>
        <% end %>
      </div>
    </div>

    <!-- IMPARARE TUTTI in basso a destra -->
    <div class="p-4 text-right flex items-center justify-end gap-2">
      <span class="bg-yellow-400 text-blue-700 font-bold px-2 py-0.5 rounded-full">IMPARARE TUTTI</span>
      <strong class="text-gray-700">Primo esercizio di ogni pagina</strong>
    </div>

    <%= render 'shared/exercise_controls' %>
  </div>
</div>
