<div class="max-w-6xl mx-auto p-3 md:p-8 bg-white">

  <%= render 'shared/page_header', pagina: @pagina %>

  <div class="mb-6">
    <p class="text-sm md:text-base text-<%= @pagina.base_color %>-700">
      Osserva l'immagine del negozio di abbigliamento e tocca i cartellini per ascoltare la parola corretta.
    </p>
  </div>

  <!-- Interactive Image -->
  <div class="relative rounded-lg overflow-hidden"
       data-controller="hotspot-editor"
       data-hotspot-editor-target="container">
    <%= image_tag "nvl5_gram/p100/p100_01.jpg",
        alt: "Negozio di abbigliamento con cartellini: specchio, borse, cassiera, portafogli, maglietta, camerini, tenda, camicia, cappelli, giacca, piumino, cappotto, scarpe da ginnastica, stivali, scarpe e pantaloni",
        class: "w-full h-full object-cover select-none pointer-events-none" %>

    <div class="absolute inset-0">
      <% hotspots = [
        { label: "Specchio", top: "21.4159%", left: "3.67427%", width: "8.58089%", height: "3.7343%" },
        { label: "Borse", top: "14.4915%", left: "29.2647%", width: "7.5%", height: "3.5%" },
        { label: "Cassiera", top: "27.1858%", left: "24.8051%", width: "8.52941%", height: "3.61715%" },
        { label: "Portafogli", top: "45.5517%", left: "18.783%", width: "10.3456%", height: "3.14856%" },
        { label: "Maglietta", top: "45.3174%", left: "33.3567%", width: "10.1213%", height: "3.73429%" },
        { label: "Camerini", top: "26.983%", left: "55.4595%", width: "9.52941%", height: "3.85144%" },
        { label: "Tenda", top: "20.7801%", left: "80.4265%", width: "6.85662%", height: "3.5%" },
        { label: "Camicia", top: "32.9974%", left: "78.2647%", width: "8.44853%", height: "4.08573%" },
        { label: "Cappelli", top: "55.4574%", left: "49.2978%", width: "8.25368%", height: "3.38285%" },
        { label: "Giacca", top: "60.7461%", left: "70.4264%", width: "7.08088%", height: "3.96859%" },
        { label: "Piumino", top: "66.3232%", left: "88.0919%", width: "8.02941%", height: "3.26571%" },
        { label: "Cappotto", top: "71.2062%", left: "78.7242%", width: "9.4375%", height: "3.14856%" },
        { label: "Scarpe da ginnastica", top: "76.9633%", left: "7.65441%", width: "10.6471%", height: "6.42866%" },
        { label: "Stivali", top: "75.5406%", left: "27.9302%", width: "7.80514%", height: "3.61715%" },
        { label: "Scarpe", top: "88.0177%", left: "22.3567%", width: "7.48897%", height: "3.5%" },
        { label: "Pantaloni", top: "84.0634%", left: "40.2794%", width: "10.1213%", height: "4.08573%" }
      ] %>

      <% hotspots.each do |hotspot| %>
        <button type="button"
                class="absolute rounded-lg bg-<%= @pagina.base_color %>-500/10 hover:bg-<%= @pagina.base_color %>-500/25 border-2 border-transparent hover:border-<%= @pagina.base_color %>-500 focus:border-<%= @pagina.base_color %>-600 focus:outline-none transition cursor-move"
                style="top: <%= hotspot[:top] %>; left: <%= hotspot[:left] %>; width: <%= hotspot[:width] %>; height: <%= hotspot[:height] %>;"
                aria-label="Leggi: <%= hotspot[:label] %>"
                data-controller="image-speech"
                data-hotspot-editor-target="hotspot"
                data-image-speech-word-value="<%= hotspot[:label] %>"
                data-image-speech-lang-value="it-IT"
                data-action="mousedown->hotspot-editor#startDrag click->image-speech#speak">
          <span class="sr-only"><%= hotspot[:label] %></span>
        </button>
      <% end %>
    </div>
  </div>

  <!-- Exercise Controls -->
  <div class="mt-6">
    <%= render 'shared/exercise_controls', show_exercise_buttons: false %>
  </div>
</div>
