<!DOCTYPE html>
<html>
  <%= render "layouts/shared/head" %>

  <body class="print text-gray-800 dark:text-white bg-playful dark:bg-playful-dark h-screen flex flex-col transition-colors duration-300" data-controller="sidebar">
    
    <%= render "layouts/shared/background_pattern" %>

    <%= render "shared/header" %>

    <div class="flex flex-1 overflow-hidden relative">
      <!-- Sidebar -->
      <%= render "shared/sidebar" %>

      <!-- Main Content -->
      <main class="flex-1 overflow-y-auto w-full md:w-auto">
        <%= turbo_frame_tag "main-content", class: "block turbo-frame-fade", data: { turbo_action: "advance" } do %>
          <%= yield %>
        <% end %>
      </main>
    </div>
  </body>
</html>
